doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/assets/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
    body 
        header.header 
            article 
                i(class="fas fa-home")
                div(class="header__box")
                
            article 
                a(href="/phone") PHONE 
            article 
                a(href="/computer") COMPUTER  
        main
            block content 


        footer.footer