doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SAMSUNG
        link(rel="stylesheet", href="/assets/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
    body 
        div(class="header")
            div(class="header_box1")

                article
                    a(href="/")
                        i(class="fas fa-home")  
            
                article 
                    a(href="/phone") 핸드폰
                article 
                    a(href="/laptop") 갤럭시 북
                article 
                    a(href="/tab") 태블릿
                article 
                    a(href="/tv") TV
                article 
                    a(href="/earphone") 버즈
                article 
                    a(href="/watch") 워치
            div(class="header_box2")        
                article
                    a(href="/loginpage")
                        <i class="far fa-user"></i> 
                






            
        main
            block content 

        footer.footer 
            p Ji minsu & Ji minseung Web Site 
            p 4leaf.edu.jmsu@gmail.com
            p 010 - @@@@ - ####