extends ../layouts/base.pug

block content 
    div.p_box1 
        div.half_box1 갤럭시 버즈
        div.half_box2 
    div.color1
    div.watch

        div.row_black1
            div.text_box1 갤럭시버즈 프로
        div.earphone_row_box1
            div.earphone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈 프로
            div.black1
            div.earphone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈 프로 라네즈네오콜라보
            div.black2
            div.earphone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈 프로 + 무선충전


        div.row_black2
            div.text_box2 갤럭시버즈2
        div.earphone_row_box2
            div.earphone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈2
            div.black1
            div.earphone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈2 메종 키츠네 에디션
            div.black2
            div.earphone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈2 + 노티드 커버

        div.row_black3
            div.text_box3 갤럭시버즈+
        div.earphone_row_box3
            div.earphone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈+
            div.black1
            div.earphone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈+ BTS 에디션
            div.black2
            div.earphone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시버즈+ + 무선충전 BTS 에디션
