extends ../layouts/base.pug

block content 
    div.l_box1 
        div.half_box1 갤럭시북
        div.half_box2 
    div.color1
    div.watch

        div.row_black1
            div.text_box1 갤럭시북 프로 360
        div.laptop_row_box1
            div.laptop_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 360 39.6cm
            div.black1
            div.laptop_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 360 39.6cm
            div.black2
            div.laptop_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 360 39.6cm


        div.row_black2
            div.text_box2 갤럭시북 프로
        div.laptop_row_box2
            div.laptop_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 39.6cm
            div.black1
            div.laptop_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 39.6cm
            div.black2
            div.laptop_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 프로 39.6cm

        div.row_black3
            div.text_box3 갤럭시북 
        div.laptop_row_box3
            div.laptop_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 39.6cm
            div.black1
            div.laptop_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시북 39.6cm
            div.black2
            div.laptop_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시
