extends ../layouts/base.pug

block content 
    div.box1
    div.box2
        div.img_box
            div.img
    
    div.box3 
        div.row_box1
            div.row_box1_box1
                a(href="/earphone") 
                    div.bluetooth_box1
                        div.bluetooth_p
                        div.bluetooth_t 
                            div.bluetooth_t_box1 갤럭시 버즈2
                div.watch_box1
                    div.watch_p
                    div.watch_t
                        div.watch_t_box1 갤럭시 워치4
            div.row_box1_box2
                div.phone_box1
                    div.phone_p
                    div.phone_t
                        div.phone_t_box1 갤럭시 Z플립3
            div.row_box1_box3
                div.tab_box1
                    div.tab_p
                    div.tab_t
                        div.tab_t_box1 갤럭시 탭 S7
                div.laptop_box1
                    div.laptop_p
                    div.laptop_t
                        div.laptop_t_box1 갤럭시 북 프로 
    div.box4
        div.slide_box
            input(type="radio" name="slide" id="slide1" checked)            
            input(type="radio" name="slide" id="slide2")
            input(type="radio" name="slide" id="slide3")
            input(type="radio" name="slide" id="slide4")


            ul(class="slidelist") 
                li(class="slide_p")
                    div
                        label(for="slide4" class="left")  
                            img(src="https://aiconica.net/previews/arrow-left-icon-434.png" width="50px")
                        img(src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2021%2F09%2Fsamsung-galaxy-watch-4-thom-browne-raffle-2021-tw.jpg?w=960&cbr=1&q=90&fit=max" width="100%" height="875px")
                        label(for="slide2" class="right") 
                            img(src="https://cdn-icons-png.flaticon.com/512/271/271228.png" width="50px")
                li(class="slide_p")
                    div
                        label(for="slide1" class="left")  
                            img(src="https://aiconica.net/previews/arrow-left-icon-434.png" width="50px")
                        img(src="https://i.ytimg.com/vi/0DwaSSDtX-c/maxresdefault.jpg" width="100%" height="875px")
                        label(for="slide3" class="right") 
                            img(src="https://cdn-icons-png.flaticon.com/512/271/271228.png" width="50px")
                li(class="slide_p")
                    div
                        label(for="slide2" class="left")  
                            img(src="https://aiconica.net/previews/arrow-left-icon-434.png" width="50px")
                        img(src="https://images.samsung.com/kdp/cms_contents/124314/f7b4c07c-0f01-44a3-bdb7-b3a3ef862cf9.jpg?$FB_TYPE_A_JPG$" width="100%" height="875px")
                        label(for="slide4" class="right") 
                            img(src="https://cdn-icons-png.flaticon.com/512/271/271228.png" width="50px")
                li(class="slide_p") 
                    div
                        label(for="slide3" class="left")  
                            img(src="https://aiconica.net/previews/arrow-left-icon-434.png" width="50px")
                        img(src="https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/9DxO/image/Ab8G7IUn9W1OpKkU8aflG5hQMHQ.jpg" width="100%" height="875px")
                        label(for="slide1" class="right") 
                            img(src="https://cdn-icons-png.flaticon.com/512/271/271228.png" width="50px")
    div.box5 
        div.column
            div.column_box1
                div.column_p
                div.column_text1 
                    p 이름
                    p 갤럭시 북
                    p 무게 
                    p 1.55kg
                    p 저장 장치
                    p 256 GB
                    p 색상
                    p 미스틱 실버
                    p 메모리
                    p 8 GB
            div.line1
            div.column_box2
                div.column_p2
                div.column_text2 
                    p 이름
                    p 갤럭시 북 flex2
                    p 무게 
                    p 1.26kg
                    p 저장 장치
                    p 512 GB
                    p 색상
                    p 로얄 실버
                    p 메모리
                    p 16 GB
            div.line2
            div.column_box3
                div.column_p3
                div.column_text3
                    p 이름
                    p 갤럭시 북 Pro
                    p 무게 
                    p 1.15kg
                    p 저장 장치
                    p 1 TB
                    p 색상
                    p 미스틱 실버
                    p 메모리
                    p 8 GB
    div.color
    div.window1 
        div.row_box1
            div.picture1
                img(src="https://images.samsung.com/kdp/goods/2021/03/19/5dd13cc2-37e7-4644-8563-faf77d2744a9.png?$PF_PRD_PNG$" width:100%;)
                span.text 글씨
            div.picture2
                img(src="https://images.samsung.com/kdp/goods/2021/03/10/93dacf15-9e65-49df-b458-ebb2cf138821.png?$PF_PRD_PNG$" width:100%;)
                span.text2 글씨
        div.row_box2
                div.picture3
                    img(src="https://images.samsung.com/kdp/goods/2021/03/10/db71df97-4a56-4e55-90b0-e49ad2a2aef2.png?$PF_PRD_PNG$" width:100%;)
                    span.text3 글씨
                div.picture4
                    img(src="https://images.samsung.com/kdp/goods/2021/03/10/93dacf15-9e65-49df-b458-ebb2cf138821.png?$PF_PRD_PNG$" width:100%;)
                    span.text4 글씨



