extends ../layouts/base.pug

block content 
    div.box1
    div.box2
        div.img_box
            div.img
    
    div.box3 
        div.box3__box1
            div.p_box1
                div.p_box1__box1
                    div.p_box1__box1__p1
                div.p_box1__box2
                    div.p_box1__box2__p2
            div.p_box2
            div.p_box3
            div.p_box4
            div.p_box5