extends ../layouts/base.pug

block content 
    div.box1
    div.box2
        div.img_box
            div.img
    
    div.box3 
        div.row_box1
            div.row_box1_box1
                a(href="/earphone") 
                    div.bluetooth_box1
                        div.bluetooth_p
                        div.bluetooth_t 
                            div.bluetooth_t_box1 갤럭시 버즈2
                div.watch_box1
                    div.watch_p
                    div.watch_t
                        div.watch_t_box1 갤럭시 워치4
            div.row_box1_box2
                div.phone_box1
                    div.phone_p
                    div.phone_t
                        div.phone_t_box1 갤럭시 Z플립3
            div.row_box1_box3
                div.tab_box1
                    div.tab_p
                    div.tab_t
                        div.tab_t_box1 갤럭시 탭 S7
                div.laptop_box1
                    div.laptop_p
                    div.laptop_t
                        div.laptop_t_box1 갤럭시 북 프로 
    div.box4
        div.slide_box1




