extends ../layouts/base.pug

block content 
    div.phone_box1 
        div.half_box1 갤럭시 시리즈
        div.half_box2 
    div.color1
    div.phone

        div.row_black1
            div.text_box1 Z 시리즈
        div.phone_row_box1
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 폴드3
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 플립3
            div.black2
            div.phone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 플립3 (단독컬러)


        div.row_black2
            div.text_box2 S 시리즈 
        div.phone_row_box2
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 S21 +
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 S21 ULTRA
            div.black2
            div.phone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 S20 FE

        div.row_black3
            div.text_box3 갤럭시 A 시리즈
        div.phone_row_box3
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 A52
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 A32
            div.black2
            div.phone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 A12



        div.row_black4
            div.text_box4 갤럭시 노트 시리즈
        div.phone_row_box4
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 노트 20
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 노트20 ULTRA
            div.black2


            



