extends ../layouts/base.pug

block content 
    div.p_box1 
        div.half_box1 스마트폰 
        div.half_box2 
    div.color1
    div.phone
        div.phone_row_box1
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 폴드3
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 플립3
            div.black2
            div.phone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 S21 +
                    
        div.phone_row_box2
            div.phone_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 폴드3
            div.black1
            div.phone_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 Z 플립3
            div.black2
            div.phone_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시 S21 +
            



