extends ../layouts/base.pug

block content 
    script(src="/assets/sign.js")

    div.login_box
            form(action="/login" method="POST")
                div.email
                    label(htmlFor="email") E-MAIL : 
                    input(type="email" name="email" id="email" required)
                div.password
                    label(htmlFor="password") PASSWORD : 
                    input(type="password" name="password" id="passwrod" required)
                button(onclick="javascript:signin()") 로그인

            form(action="/signup" method="GET")
                button 회원가입하기
