extends ../layouts/base.pug

block content
        script(src="/assets/sign.js") 

        div.signupBox
            form(action="/informations" method="POST")
                div.NAME
                    label(htmlFor="name") NAME : 
                    input(type="name" name="name" required)
                div.BIRTH
                    label(htmlFor="birth") BIRTH : 
                    input(type="text" name="birth" placeholder="YYYY/MM/DD" required)
                div.GENDER
                    label(htmlFor="gender") GENDER :  
                        select(name="gender" required)
                            option(value="남성") 남성
                            option(value="여성") 여성
                div.PHONENUM
                    label(htmlFor="phonenum") PHONE NUMBER : 
                    input(type="text" name="phonenum" placeholder="XXX-XXXX-XXXX" required)
                div.EMAIL
                    label(htmlFor="email") E-MAIL : 
                    input(type="email" name="email" required)
                div.PASSWORD
                    label(htmlFor="password") PASSWORD :  
                    input(type="password" name="password"  required)   
                button(onclick="javascript:signup()") 회원가입
        


