doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document  
        link(rel="stylesheet", href="/assets/signup.css")

    body 
        script(src="/assets/sign.js") 

        div.signupBox
            form(action="/informations" method="POST")
                div.NAME
                    label(htmlFor="name") NAME : 
                    input(type="name" name="name" required)
                div.BIRTH
                    label(htmlFor="birth") BIRTH : 
                    input(type="text" name="birth" placeholder="YYYY/MM/DD" required)
                div.GENDER
                    label(htmlFor="gender") GENDER :  
                        select(name="gender" required)
                            option(value="male") 남성
                            option(value="female") 여성
                div.PHONENUM
                    label(htmlFor="phonenum") PHONE NUMBER : 
                    input(type="text" name="phonenum" placeholder="XXX-XXXX-XXXX" required)
                div.EMAIL
                    label(htmlFor="email") E-MAIL : 
                    input(type="email" name="email" required)
                div.PASSWORD
                    label(htmlFor="password") PASSWORD :  
                    input(type="password" name="password"  required)   
                button(onclick="javascript:signin()") 회원가입
        


