extends ../layouts/base.pug

block content 
    div.w_box1 
        div.half_box1 갤럭시워치
        div.half_box2 
    div.color1
    div.watch

        div.row_black1
            div.text_box1 갤럭시워치4
        div.watch_row_box1
            div.watch_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치4 44mm
            div.black1
            div.watch_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치4 40mm
            div.black2
            div.watch_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치4 골프 에디션 40mm


        div.row_black2
            div.text_box2 갤럭시워치3
        div.watch_row_box2
            div.watch_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치3 41mm
            div.black1
            div.watch_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치3 45mm
            div.black2
            div.watch_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치3 티타늄 45mm

        div.row_black3
            div.text_box3 갤럭시워치 액티브2
        div.watch_row_box3
            div.watch_picture_box1  
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치 액티브2 44mm
            div.black1
            div.watch_picture_box2
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치 액티브2 40mm
            div.black2
            div.watch_picture_box3
                div.p_box   
                    div.p
                div.t_box
                    div.t 갤럭시워치 액티브2 골프에디션
