.p_box1{
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: row;

}
.half_box1{
    width: 50%;
    height: 100%;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    font-weight: 600;
}
.half_box2{
    width: 50%;
    height: 100%;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuMydi2tyBKLmbXgs16RBOrDpfM2c0KDoUQQ&usqp=CAU); 
    background-size: 80%;
    background-repeat: no-repeat;
}
.color1{
    width: 100%;
    height: 20px;
    background-color: grey;
}
.earphone_row_box1{
    width: 100%;
    height: 600px;  

    display: flex;
    flex-direction: row;
}
.earphone_row_box1 .earphone_picture_box1{
    width: 32%;
    height: 100%;

}
.earphone_row_box1 .earphone_picture_box1 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box1 .earphone_picture_box1 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/07/07/1575d26c-4935-4bbb-a085-b0e5e3378d56.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box1 .earphone_picture_box1 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black1{
    width: 1%;
    height: 100%;
    background-color: black;
}
.earphone_row_box1 .earphone_picture_box2 {
    width: 32%;
    height: 100%;

}

.earphone_row_box1 .earphone_picture_box2 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box1 .earphone_picture_box2 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/05/07/8f9d1023-202d-4da0-a9a1-d357d07b95a7.png?$PF_PRD_KDP_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box1 .earphone_picture_box2 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black2{
    width: 1%;
    height: 100%;
    background-color: black;
}
.earphone_row_box1 .earphone_picture_box3 {
    width: 32%;
    height: 100%;

}
.earphone_row_box1 .earphone_picture_box3 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box1 .earphone_picture_box3 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/04/12/805f38a9-2811-4602-8685-af53ab791e07.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box1 .earphone_picture_box3 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.row_black1{
    width: 100%;
    height: 80px;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.row_black1 .text_box1{
    color: white;

    font-weight: 600;
    font-size: 30px;
}


.earphone_row_box2{
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
}

.earphone_row_box2 .earphone_picture_box1 {
    width: 32%;
    height: 100%;
}
.earphone_row_box2 .earphone_picture_box1 .p_box{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.earphone_row_box2 .earphone_picture_box1 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/07/27/e38b0ee9-1ba8-4f60-8a01-da4c0cd1c298.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box2 .earphone_picture_box1 .t_box {
    width: 100%;
    height: 20%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-weight: 600;
    font-size: 40px;
}


.earphone_row_box2 .earphone_picture_box2 {
    width: 32%;
    height: 100%;
}
.earphone_row_box2 .earphone_picture_box2 .p_box{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.earphone_row_box2 .earphone_picture_box2 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/10/13/542db7a0-1b5a-4d4e-955f-f57d2295e2a8.png?$PF_PRD_KDP_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box2 .earphone_picture_box2 .t_box {
    width: 100%;
    height: 20%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-weight: 600;
    font-size: 40px;
}



.earphone_row_box2 .earphone_picture_box3 {
    width: 32%;
    height: 100%;
}
.earphone_row_box2 .earphone_picture_box3 .p_box{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.earphone_row_box2 .earphone_picture_box3 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/10/07/2feb3d94-d3a3-4a7d-bcce-f7ac87432cea.png?$PF_PRD_KDP_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box2 .earphone_picture_box3 .t_box {
    width: 100%;
    height: 20%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-weight: 600;
    font-size: 40px;
}

.row_black2{
    width: 100%;
    height: 80px;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.row_black2 .text_box2{
    color: white;

    font-weight: 600;
    font-size: 30px;
}


.earphone_row_box3{
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
}
.earphone_row_box3 .earphone_picture_box1{
    width: 32%;
    height: 100%;

}
.earphone_row_box3 .earphone_picture_box1 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box3 .earphone_picture_box1 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/08/31/a64af93e-3990-46d5-bf85-e54776e53e15.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box3 .earphone_picture_box1 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black1{
    width: 1%;
    height: 100%;
    background-color: black;
}
.earphone_row_box3 .earphone_picture_box2 {
    width: 32%;
    height: 100%;
}

.earphone_row_box3 .earphone_picture_box2 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box3 .earphone_picture_box2 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/is/image/samsung/sec-galaxy-buds-plus-r175-bts-sm-r175nzpbkoo-frontbpurple-thumb-257065372?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box3 .earphone_picture_box2 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black2{
    width: 1%;
    height: 100%;
    background-color: black;
}
.earphone_row_box3 .earphone_picture_box3 {
    width: 32%;
    height: 100%;

}
.earphone_row_box3 .earphone_picture_box3 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box3 .earphone_picture_box3 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/is/image/samsung/sec-package-bts-edition-sm-r175n-sm-r175nzpbpmf-thumb-thumb-260607559?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box3 .earphone_picture_box3 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.row_black3{
    width: 100%;
    height: 80px;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.row_black3 .text_box3{
    color: white;

    font-weight: 600;
    font-size: 30px;
}

.earphone_row_box4{
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
}
.earphone_row_box4 .earphone_picture_box1{
    width: 32%;
    height: 100%;

}
.earphone_row_box4 .earphone_picture_box1 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box4 .earphone_picture_box1 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/03/12/a942410a-7a32-45b2-baec-718d9476276b.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box4 .earphone_picture_box1 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black1{
    width: 1%;
    height: 100%;
    background-color: black;
}
.earphone_row_box4 .earphone_picture_box2 {
    width: 32%;
    height: 100%;
}

.earphone_row_box4 .earphone_picture_box2 .p_box{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.earphone_row_box4 .earphone_picture_box2 .p_box .p{
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/kdp/goods/2021/03/05/840226b0-352f-458c-bc0b-3fde7b459505.png?$PF_PRD_PNG$);
    background-size: 85%;
    background-repeat: no-repeat;
}
.earphone_row_box4 .earphone_picture_box2 .t_box {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 40px;
}
.black2{
    width: 1%;
    height: 100%;
    background-color: black;
}
.row_black4{
    width: 100%;
    height: 80px;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.row_black4 .text_box4{
    color: white;

    font-weight: 600;
    font-size: 30px;
}

