.box1{
    width: 100%;
    height: 50px;
}

.box2{
    width: 100%;
    height: 200px;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img_box{
    width: 50%;
    height: 140px;

}
.img{
    width: 100%;
    height: 100%;
    background-image: url(https://www.samsung.com/sec/static/_images/common/logo_samsung_black.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.box3{
    width: 100%;
    height: 550px;
    background-color: red;
}

.box3__box1{
    width: 100%;
}